<app-header></app-header>
<div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <a (click)="patient()" class="btn btn-primary btn-lg active pull-right" role="button"
                    aria-pressed="true">Patient</a>
                <a (click)="doctor()" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Doctor</a>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>
<br><br><br>
<app-patient *ngIf="patientEnable"></app-patient>
<app-doctor *ngIf="doctorEnable" ></app-doctor>
